<p>edit-pagos works!</p>
<div class="container ">
    <div class="card">
        <div class="car-header">
            <h3>Agregar Creditos</h3>
        </div>
        <div class="car-body">
            <form action="#" method="post">
                <div class="form-group">
                    <label for="fechaPago">Fecha:</label>
                    <input type="text" name="fechaPago" id="fechaPago" placeholder="1999-12-25" class="form-control">
                </div>
                <div class="form-group">
                    <label for="monto">Monto:</label>
                    <input type="number" name="monto" id="monto" placeholder="$$$" class="form-control">
                </div>
                <div class="form-group">
                    <label for="montoTotal">Monto Total:</label>
                    <input type="number" name="montoTotal" id="montoTotal" placeholder="$$$.$$" class="form-control">
                </div>
                <div class="form-group">
                    <label for="numPago">Númeor de Pago:</label>
                    <input type="number" name="numPago" id="numPago" placeholder="###" class="form-control">
                </div>
                <div class="form-group">
                    <label for="creditoId">Código de Credito:</label>
                    <select name="interesId" id="interesId">
                        <option value="k3b">...</option>
                    </select>
                </div>
                <button (click)="Actualizar(pago)" class="btn btn-danger">Actualizar</button>
            </form>
        </div>
    </div>
</div>