<div class="container ">
    <div class="card">
        <div class="car-header">
            <h3>Clientes</h3>
        </div>
        <div class="car-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Telefono</th>
                        <th>Direccion</th>
                        <th>Edicion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cli of mdCliente" class="text-center">
                        <td>{{cli.id}}</td>
                        <td>{{cli.nombre}}</td>
                        <td>{{cli.apellido}}</td>
                        <td>{{cli.nit}}</td>
                        <td>{{cli.dpi}}</td>
                        <td>{{cli.telefono}}</td>
                        <td>{{cli.direccion}}</td>
                        <td>
                            <button (click)="Editar(cliente)" class="btn btn-warning">Editar</button>
                            <p> </p>
                            <button class="btn btn-danger">Borrar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>