<div class="container ">
    <div class="card">
        <div class="car-header">
            <h3>Pagos</h3>
        </div>
        <div class="car-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Fecha_Pago</th>
                        <th>Monto</th>
                        <th>Monto_Total</th>
                        <th>No. Pago</th>
                        <th>Codigo Credito</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pago of Pagos" class="text-center">
                        <td>{{pago.id}}</td>
                        <td>{{pago.fechaPago}}</td>
                        <td>{{pago.monto}}</td>
                        <td>{{pago.montoTotal}}</td>
                        <td>{{pago.numPago}}</td>
                        <td>{{pago.creditoId}}</td>
                        <td>
                            <button (click)="Editar(pago)" class="btn btn-warning">Editar</button>
                            <p>  </p>
                            <button class="btn btn-danger">Borrar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
