<p>edit-creditos works!</p>
<div class="container ">
    <div class="card">
        <div class="car-header">
            <h3>Modificar Creditos</h3>
        </div>
        <div class="car-body">
            <form action="#" method="post">
                <div class="form-group">
                    <label for="monto">Monto:</label>
                    <input type="number" name="monto" id="monto" placeholder="$$$" class="form-control">
                </div>
                <div class="form-group">
                    <label for="numPagos">Número de Pagos:</label>
                    <input type="number" name="numPagos" id="numPagos" placeholder="###" class="form-control">
                </div>
                <div class="form-group">
                    <label for="rangoPagos">Rango de Pagos:</label>
                    <input type="number" name="rangoPagos" id="rangoPagos" placeholder="XXX" class="form-control">
                </div>
                <div class="form-group">
                    <label for="estado">Estado:</label>
                    <input type="text" name="estado" id="estado" placeholder="---" class="form-control">
                </div>
                <div class="form-group">
                    <label for="fecha">Fecha:</label>
                    <input type="text" name="fecha" id="fecha" placeholder="1999-12-25" class="form-control">
                </div>
                <div class="form-group">
                    <label for="multa">Multa:</label>
                    <input type="number" name="multa" id="multa" placeholder="@@@" class="form-control">
                </div>
                <div class="form-group">
                    <label for="multa">Cliente:</label>
                    <select name="clienteId" id="clienteId">
                        <option value="k3b">...</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="multa">Interes:</label>
                    <select name="interesId" id="interesId">
                            <option value="k3b">...</option>
                    </select>
                </div>
                <button (click)="Actualizar(credito)" class="btn btn-danger">Actualizar</button>
            </form>
        </div>
    </div>
</div>