<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <a class="navbar-brand" href="#">Salir</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
 
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item" routerLinkActive="active-link">
           <a class="nav-link" (click)="ms ='ls_Client'">Clientes <span class="sr-only"></span></a>
       </li>
       <li class="nav-item" routerLinkActive="active-link">
           <a class="nav-link" (click)="ms ='ls_Creditos'">Creditos <span class="sr-only"></span></a>
       </li>
       <li class="nav-item" routerLinkActive="active-link">
           <a class="nav-link" (click)="ms ='ls_Pagos'">Pagos <span class="sr-only"></span></a>
       </li>
       <li class="nav-item" routerLinkActive="active-link">
           <a class="nav-link" (click)="ms ='ls_Usuarios'">Usuarios<span class="sr-only"></span></a>
       </li>
     </ul>
   </div>
</nav>

<div class="container" *ngIf="ms == 'ls_Client'">
    <app-ls-cliente></app-ls-cliente>
</div>
 
<div class="container" *ngIf="ms == 'ls_Creditos'">
    <app-ls-creditos></app-ls-creditos>
</div>

<div class="container" *ngIf="ms == 'ls_Pagos'">
    <app-ls-pagos></app-ls-pagos>
</div>

<div class="container" *ngIf="ms == 'ls_Usuarios'">
    <app-ls-usuarios></app-ls-usuarios>
</div>