<div class="sidenav">
    <div class="login-main-text">
       <h1>Creditos<br><h2> Pagina de inicio</h2></h1>
       <p>Ingresa tus credenciales para ingresar.</p>
    </div>
  </div>
  <div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
          <form>
             <div class="form-group">
                <label>Nombre de Usuario</label>
                <input type="text" class="form-control" placeholder="User Name" required>
             </div>
             <div class="form-group">
                <label>Contraseña</label>
                <input type="password" class="form-control" placeholder="Password" required>
             </div>
             <a [routerLink]="['/admin']" class="btn btn-green">Ingresear</a>
          </form>
       </div>
    </div>
  </div>
