<div class="container ">
    <div class="card">
        <div class="car-header">
            <h3>Usuarios</h3>
        </div>
        <div class="car-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Clave</th>
                        <th>Rol</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usr of Usuarios" class="text-center">
                        <td>{{usr.id}}</td>
                        <td>{{usr.nombre}}</td>
                        <td>{{usr.clave}}</td>
                        <td>{{usr.rol}}</td>
                        <td>
                            <button class="btn btn-warning">Editar</button>
                            <p>  </p>
                            <button class="btn btn-danger">Borrar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

