<p>add-cliente works!</p>
<div class="container ">
    <div class="card">
        <div class="car-header">
            <h3>Agregar Clientes</h3>
        </div>
        <div class="car-body">
            <form action="#" method="post">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" name="nombre" id="nombre" placeholder="Cosme" class="form-control">
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido:</label>
                    <input type="text" name="apellido" id="apellido" placeholder="Fulanito" class="form-control">
                </div>
                <div class="form-group">
                    <label for="nit">NIT:</label>
                    <input type="text" name="nit" id="nit" placeholder="XXXXXXXXX" class="form-control">
                </div>
                <div class="form-group">
                    <label for="dpi">DPI:</label>
                    <input type="text" name="dpi" id="dpi" placeholder="XXXXXXXXX" class="form-control">
                </div>
                <div class="form-group">
                    <label for="telefono">Telefono:</label>
                    <input type="text" name="telefono" id="telefono" placeholder="XXXXXXXXX" class="form-control">
                </div>
                <div class="form-group">
                    <label for="direccion">Direccion:</label>
                    <input type="text" name="direccion" id="direccion" placeholder="Mikasa" class="form-control">
                </div>
                <button (click)="Guardar()" class="btn btn-danger">Guardar</button>
            </form>
        </div>
    </div>
</div>