<div class="container ">
    <div class="card">
        <div class="car-header">
            <h3>Creditos</h3>
        </div>
        <div class="car-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>monto</th>
                        <th>no_pagos</th>
                        <th>rango_pagos</th>
                        <th>estado</th> 
                        <th>fecha</th>
                        <th>multa</th>
                        <th>cliente_id</th>
                        <th>interes_id</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let credito of Creditos" class="text-center">
                        <td>{{credito.id}}</td>
                        <td>{{credito.monto}}</td>
                        <td>{{credito.noPagos}}</td>
                        <td>{{credito.rangoPagos}}</td>
                        <td>{{credito.estado}}</td>
                        <td>{{credito.fecha}}</td>
                        <td>{{credito.multa}}</td>
                        <td>{{credito.clienteId}}</td>
                        <td>{{credito.interesId}}</td>
                        <td>
                            <button (click)="Editar(credito)" class="btn btn-warning">Editar</button>
                            <p>  </p>
                            <button class="btn btn-danger">Borrar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
